{% extends 'base.html.twig' %}
{% block title %}
    Directeur
{% endblock %}
{% block body %}
{# <a href="{{ path('directeur_modif') }}">modifier</a>}
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
                <th>
                    revenus
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        {{ directeur.id }}
                    </td>
                    <td>
                        {{ directeur.nom }}
                    </td>
                    <td>
                        {{ directeur.prenom }}
                    </td>
                    <td>
                        {{ directeur.revenus }}
                    </td>
                </tr>

                <tr>
        </tbody>
    </table>
{% endblock %}