{% extends 'base_admin.html.twig' %}

{% block title %}Directeur index
{% endblock %}


{% block body %}
	<div class="container">


		<h5>
			Les Directeurs
		</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Noms
					</th>
					<th>Prenoms
					</th>
					{# <th>Revenus</th> #}
					{# <th>actions </th> #}
				</tr>
			</thead>
			<tbody>
				{% for directeur in directeurs %}
					<tr>
						<td>{{ directeur.id }}</td>
						<td>{{ directeur.nom }}</td>
						<td>{{ directeur.prenom }}</td>
						{# <td>{{ directeur.revenus }}</td> #}
						<td>
							<a href="{{ path('directeur_affichage', {'id': directeur.id}) }}" class="btn btn-secondary">Lire</a>
							<a href="{{ path('directeur_edition', {'id': directeur.id}) }}" class="btn btn-secondary">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Pas de Directeur dans cette liste</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('directeur_nouveau') }}" class="btn btn-secondary">Creer un Directeur ?</a><br><br>
		<br><br><br>
	</div>
	<br><br>


{% endblock %}
