{% extends 'base_admin.html.twig' %}

{% form_theme directeurForm 'bootstrap_4_layout.html.twig'  %}
{% block title %}Directeur
{% endblock %}

{% block body %}

	<!-- breadcrumb-->
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('admin_index')}}">Administrator </a>

				</li>
							</li>
				<li class="breadcrumb-item">
					<a href="{{path('directeur_index')}}">Direction</a>

				</li>

				<li class="breadcrumb-item active" aria-current="page">{{ app.user.userIdentifier }}  </li>

				
			</ol>
				<hr style="width:100%; height:10px; background-color:#1B4F72 ">
		</nav>	
	<!-- End breadcrumb-->



	 <!-- Enregistrement-->
	 <div class="container">

		<h5>
			Creation d'un nouveau Directeur</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		{{ include('directeur/_form.html.twig') }}

		<br>
		<a href="{{ path('directeur_index') }}" class="btn btn-secondary">Liste des Directeurs</a>
	</div>

	<!-- End Enregistrement -->
	<br><br><br><br>

	<br>

{% endblock %}
