{% extends 'base.html.twig' %}

{% block title %}Directeur
{% endblock %}


{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}


{% block body %}
	<div class="container">

		<h5>Directeur /
			{{ directeur.nom }}
			{{ directeur.prenom }}
		</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ directeur.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ directeur.nom }}</td>
				</tr>
				<tr>
					<th>Prenom</th>
					<td>{{ directeur.prenom }}</td>
				</tr>
				<tr>
					<th>Revenus</th>
					<td>{{ directeur.revenus }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('directeur_index') }}" class="btn btn-secondary">Liste de Directeurs
		</a>
		<br><br>

		<a href="{{ path('directeur_edition', {'id': directeur.id}) }}" class="btn btn-secondary">editer</a><br><br>

		{{ include('directeur/_delete_form.html.twig') }}
	</div>
{% endblock %}
