{% extends 'base.html.twig' %}

{% block title %}Siege index{% endblock %}

{% block navigation%}
<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}

{% block body %}
   <hr/>
<div class="container">
 <h1>Liste des sieges </h1><hr/>
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capital</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siege in sieges %}
            <tr>
                <td>{{ siege.id }}</td>
                <td>{{ siege.capital }}</td>
                <td>{{ siege.nom }}</td>
                <td>{{ siege.adresse }}</td>
                <td>
                    <a href="{{ path('siege_affichage', {'id': siege.id}) }}">show</a>
                    <a href="{{ path('siege_edition', {'id': siege.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de siège dans la Base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('siege_nouveau') }}"class="btn btn-primary">Crer un nouveau siège ?</a>
</div">
{% endblock %}
