{% extends 'base.html.twig' %}

{% block title %}Siege index{% endblock %}

{% block body %}
    <h1>Siege index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capital</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siege in sieges %}
            <tr>
                <td>{{ siege.id }}</td>
                <td>{{ siege.capital }}</td>
                <td>{{ siege.nom }}</td>
                <td>{{ siege.adresse }}</td>
                <td>
                    <a href="{{ path('app_siege_show', {'id': siege.id}) }}">show</a>
                    <a href="{{ path('app_siege_edit', {'id': siege.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_siege_new') }}">Create new</a>
{% endblock %}
