{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="container">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Adresse</th>
                <th>DateNaiss</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenoms }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.Email }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateur_edition', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
