{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}
	<!-- Section-->
{% set texte = 'greeting' ~ tableau[1]|lower %}
{{ texte }}
    
     {{ tableau[0]}} \ <br>  {{ tableau[1]}} \ {{ tableau[2]}} \ {{ tableau[3]}} \ {{ tableau[4]}}

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		{% include 'tools/footer.html.twig'  %}
	</footer>
	<!-- Bootstrap core JS-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	 <script src="js/scripts.js"></script>
</body>{% endblock %}
