<section class="py-5">


	<div class="container px-4 px-lg-5 mt-5">

		<div class="row">
			<div class="container">
				<div class="row">

					{%for article in articles  %}

						<div class="col-sm-3">

							<div class="card">

								<h5>
									{{article.titre}}
								</h5>
								<h7>
									- ville:
									{{article.adresse}}
									<br>
									- Publié le :
									{# {article.createdAt | date('d/m/Y') } #}
									<br>
									- categorie:
									{{article.categorie.titre}}
									<br>
									- Prix:																																																																																																																																																																																																																																																																																																																																																																																																											|
									{{article.prix}}
									€
									<br>
								</h7>
								<ul>


									<img src="{{vich_uploader_asset(article, 'imageFile') }}" alt="Immeuble" class="rounded float-left" style="width: 230px;">


								</ul>
								<ul>
									<a href="{{ path('article_affichage', {'id': article.id}) }}">

										<p class="lead">
											<a class="btn btn-primary btn-sm" href="{{ path('article_affichage', {'id': article.id}) }}" role="button">decouvrir</a>


										</p>
									</a>
								</ul>
							</div>
						</div>

						{% endfor%}


					</div>


				</div>

			</div>
		</div>
	</div>
</section>
