<section class="py-5">


	<div class="container px-4 px-lg-5 mt-5">

		<div class="row">
			<div class="container">
				<div class="row">

					{%for article in articles  %}

						<div class="col-sm-4">

							<div class="card">

								<h6>
									{{article.titre}}
									/

								</h6>
								<ul>ville:
									{{article.adresse}}
								</ul>

								<ul>Publié le :
									{# {article.createdAt | date('d/m/Y') } #}
								</ul>

								<ul>
									categoriee:																																																																																																																																																																																																																																																																																																																																																																																																											|
									{{article.categorie.titre}}

								</ul>
								<ul>
									Prix:																																																																																																																																																																																																																																																																																																																																																																																																											|
									{{article.prix}}
									€
								</ul>

								<ul>


									<img src="{{vich_uploader_asset(article, 'imageFile') }}" alt="Immeuble" class="rounded float-left" style="width: 300px;">


								</ul>
								<ul>
									<a href="{{ path('article_affichage', {'id': article.id}) }}">

										<button type="button" class="btn btn-dark">lire
										</a>
									</ul>
								</div>
							</div>

							{% endfor%}


						</div>


					</div>

				</div>


			</section>
