<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">

	<div class="container">
		<a class="navbar-brand" href="{{ path('index')}}">Agence Immo</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarScroll">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('index')}}">Accueil</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('about')}}">A propos</a>
					</li>

								<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('agence_index')}}">Nos Agences</a>

				</li>

				
				 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          A louer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('article_index')}}">Appartement</a>
          <a class="dropdown-item" href="{{ path('article.trier.location.maison')}}">Maison</a>
          <a class="dropdown-item" href="{{ path('article_index')}}">Autres</a>
        </div>
      </li>


				
				
				


				<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          A Vendre
        </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				
							<a class="dropdown-item" href="{{ path('article.trier.vente.appart')}}">Appartement</a>



							<a class="dropdown-item" href="{{ path('article.trier.vente.maison')}}">Maison</a>



		

							<a class="dropdown-item" href="{{ path('article_index')}}">Autres</a>


    </div>
				</li>

				<li class="nav-item">
					<a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Promotions</a>
				</li>

				<li class="nav-item">
					<a class="nav-link active" href="{{ path('admin_index')}}" tabindex="-1" aria-urrent="true">Connexion/Enregistrement</a>
				</li>


			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Recherche</button>
			</form>
		</div>
	</div>


</nav>
