<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">


	<div class="container">
		<a class="navbar-brand" href="{{ path('index')}}">Agence Immo</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarScroll">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('index')}}">Accueil</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('about')}}">A Propos</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('siege_index')}}">Sieges</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{{ path('directeur_index')}}">Directeur</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('utilisateur_index')}}">Utilisateurs</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						A Louer
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('locationapprt')}}">Appartement</a>


						</li>
						<li>
							<a class="dropdown-item" href="{{ path('locationmaison')}}">Maison</a>


						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('locationterrain')}}">Autres</a>


						</li>
					</ul>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						A Vendre
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('vente_appart')}}">Appartement</a>


						</li>
						<li>
							<a class="dropdown-item" href="{{ path('vente_maison')}}">Maison</a>


						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('vente_terrain')}}">Autres</a>


						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Promotions</a>
				</li>

				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Connexion</a>
				</li>


			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Recherche</button>
			</form>
		</div>
	</div>


</nav>
