{% extends 'base_admin.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<div class="container text-">


		<h2>Clients</h2>
		<hr/>


		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Adresse</th>
					<th>Type</th>
					<th>Photo</th>
					<th>DateNaissance</th>

					<th>Email</th>

					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
					<tr>
						<td>{{ client.id }}</td>
						<td>{{ client.nom }}</td>
						<td>{{ client.prenom }}</td>
						<td>{{ client.adresse }}</td>
						<td>{{ client.type }}</td>
						<td>	<img src="{{vich_uploader_asset(client, 'imageFile')  }}" alt="Immeuble"  class="mx-auto p-2" style="width: 100px;"></td>
						<td>{{ client.dateNaissance ? client.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>

						<td>{{ client.email }}</td>

						<td>
							<a href="{{ path('client_affichage', {'id': client.id}) }}" class="btn btn-secondary">affichage</a>
							<a href="{{ path('client_edition', {'id': client.id}) }}" class="btn btn-secondary">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Pas de Client pour le moment</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('client_nouveau') }}" class="btn btn-secondary">Creer un Nouveau Client</a>

	</div>
{% endblock %}
