{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'  %}


{% block title %}New Client
{% endblock %}

{% block navigation%}
	<!-- Navigation-->
	<!-- Header-->
	<!-- Section-->
{% endblock %}


{% block body %}
	<!-- breadcrumb-->
	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('admin_index')}}">Administrator </a>

				</li>
							</li>
				<li class="breadcrumb-item">
					<a href="{{path('client_index')}}">Client(e)s</a>

				</li>

				<li class="breadcrumb-item active" aria-current="page">{{ app.user.userIdentifier }}  </li>

				
			</ol>
				<hr style="width:100%; height:5px; background-color:#1B4F72 ">
		</nav>	
	<!-- End breadcrumb-->


	 
	<div class="container">

		<h2>Nouveau Client</h2>

		{{ include('client/_form.html.twig') }}

		<a href="{{ path('client_index') }}">Liste de</a>

	</div>

{% endblock %}
