<section class="py-5">

	<h7 class="display-6">Une Agence dans chaque ville !</h7>
	<p class="lead">
		Trrouver votre maison / Appartements / TErrains dans la ville la plus proche
	</p>
	<hr class="my-1">

	<div class="container text-center">

		<div
			class="row">
			<!-- col-4 -->
			<div class="col-4">col-4</div>


			<!-- col-8 -->
			<div class="col-8">

				<div class="container">
					<div class="row">

						{% for agence in agences %}
							<tr>
								<td>{{ agence.id }}
									|</td>
								<td>{{ agence.numeroAgence }}
									|
									{{ agence.adresse }}</td>
								<td>{{ agence.directeur.nom }}</td>
								<td></td>
								<td>{{ agence.adresse }}</td>
								<td>
									<a href="{{ path('agence_affichage', {'id': agence.id}) }}" class="btn btn-secondary">lire</a>

									<a href="{{ path('agence_edition', {'id': agence.id}) }}" class="btn btn-secondary">editer</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Il n'y a pas d'agence pour le Moment</td>
							</tr>
						{% endfor %}


					</div>


				</div>


			</div>

		</div>
	</div>


</section>
