{% extends 'base_user.html.twig' %}

{% block title %}Agence
{% endblock %}


{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}


{% block body %}

	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('index')}}">Accueil</a>

				</li>
				<li class="breadcrumb-item">
					<a href="{{path('agence_index')}}">Agences</a>

				</li>
				<li class="breadcrumb-item active" aria-current="page">Agence N°
					{{ agence.id }}</li>

			</ol>
		</nav>
		<hr style="width:100%; height:10px; background-color:#1B4F72 ">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ agence.id }}</td>
				</tr>
				<tr>
					<th>NumeroAgence</th>
					<td>{{ agence.numeroAgence }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ agence.adresse }}</td>
				</tr>

			</tbody>
		</table>

		<br>
		<br>

		{# Employes par Agence#}
		<div class="list-group">
			<a href="#" class="list-group-item active">
				<h4 class="list-group-item-heading">Employes / agences</h4>

			</a>
		</div>


		<table class="table">
			<thead>
				<tr>
					<th>
						<a href="{{path('employe_index')}}" title="cliquer pour trier par ordre croissant">
							Id</th>
					</th>

					<th>
						<a href="{{path('employe.trier.titre.AZ')}}" title="cliquer pour trier par ordre croissant">


							Noms</th>
					</th>
					<th>
						<a href="{{path('employe.trier.prenoms.AZ')}}" title="cliquer pour trier par ordre croissant">


							Prenoms</th>
					</th>
					<th>
						<a href="{{path('employe.categorie.agence.ASC')}}" title="cliquer pour trier par ordre croissant">

							Agence</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Responsable</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Date Embauche</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Portefeuille</th>
					</th>

					{#<th><a href="#" title="cliquer pour trier par ordre croissant">
																																																																																																									Modifier le</th>#}

					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for employe in agence.employe %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.nom }}</td>
						<td>{{ employe.prenom }}</td>
						<td>{{ employe.agence.numeroAgence }}
							|
							{{ employe.agence.adresse }}</td>
						<td>{{ employe.directeur.nom }}
							{{ employe.directeur.prenom }}</td>
						<td>{{ employe.createdAt ? employe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td></td>
						{#<td>{{ employe.updatedAt ? employe.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						<td>
							<a href="{{ path('employe_affichage', {'id': employe.id}) }}" class="btn btn-secondary">lire</a>
							<a href="{{ path('employe_edition', {'id': employe.id}) }}" class="btn btn-secondary">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'emplye pour le moment</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<br>


		{# Biens par Agence#}
		<div class="list-group">
			<a href="#" class="list-group-item active">
				<h4 class="list-group-item-heading">Biens / agences</h4>

			</a>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Id</th>
					</th>
					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Titre</th>
					</th>
					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Categorie</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Agence</th>
					</th>


					<th>Owner</th>
					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Gestionnaire</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par surface en ordre croissant">Adresse</th>
					</th>
					<th>
						<a href="#" title="cliquer pour trier par surface en ordre croissant">Type</th>
					</th>
					<th>
						<a href="#" title="cliquer pour trier par surface en ordre croissant">Surface</th>
					</th>
					<th>
						<a href="#" title="cliquer pour trier par prix en ordre croissant">Prix</th>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for article in agence.articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.titre }}
							|
							{{ article.adresse }}</td>

						<td>{{ article.Categorie.titre }}</td>
						<td>{{ article.Agence.numeroAgence }}
							|
							{{ article.Agence.adresse }}
						</td>
						<td>{{ article.Client.nom }}</td>
						<td>{{ article.Employe.nom }}
							{{ article.Employe.prenom }}</td>

						<td>{{ article.adresse }}</td>
						<td>F{{ article.type }}</td>
						<td>{{ article.surface }}m2</td>
						<td>{{ article.prix }}€</td>
						<td>


							<a href="{{ path('article_affichage', {'id': article.id}) }}" class="btn btn-secondary">details</a>


							<a href="{{ path('article_modif', {'id': article.id}) }}" class="btn btn-secondary">editer</a>


						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun Artcile
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('agence_index') }}" class="btn btn-secondary">Retour à la liste</a>
		<a href="{{ path('agence_edition', {'id': agence.id}) }}" class="btn btn-secondary">editer</a>
		{{ include('agence/_delete_form.html.twig') }}</div>
{% endblock %}
