{% extends 'base.html.twig' %}

{% block title %}Categorie index
{% endblock %}


{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}

{% block body %}

	<div class="container">

		<h2>Categorie</h2>
		<hr>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<td>{{ categorie.id }}</td>
						<td>{{ categorie.titre }}</td>
						<td>{{ categorie.description }}</td>
						<td>
							<a href="{{ path('categorie_affiche', {'id': categorie.id}) }}">lire</a>
							<a href="{{ path('categorie_edition', {'id': categorie.id}) }}">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas de categorie</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('categorie_nouveau') }}">Creer une categorie</a>
		<div>
		{% endblock %}
