{% extends 'base_admin.html.twig' %}

{% block title %}Employe
{% endblock %}

{% block body %}

	<div class="container">


		<h4>Employes /
		</h4>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		<table class="table">
			<thead>
				<tr>
					<th>
						<a href="{{path('employe_index')}}" title="cliquer pour trier par ordre croissant">
							Id</th>
					</th>

					<th>
						<a href="{{path('employe.trier.titre.AZ')}}" title="cliquer pour trier par ordre croissant">


							Noms</th>
					</th>
					<th>
						<a href="{{path('employe.trier.prenoms.AZ')}}" title="cliquer pour trier par ordre croissant">


							Prenoms</th>
					</th>
					<th>
						<a href="{{path('employe.categorie.agence.ASC')}}" title="cliquer pour trier par ordre croissant">

							Agence</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Responsable</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Date Embauche</th>
					</th>

					<th>
						<a href="#" title="cliquer pour trier par ordre croissant">
							Portefeuille</th>
					</th>

					{#<th><a href="#" title="cliquer pour trier par ordre croissant">
																																				Modifier le</th>#}

					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for employe in employes %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.nom }}</td>
						<td>{{ employe.prenom }}</td>
						<td>{{ employe.agence.numeroAgence }}
							|
							{{ employe.agence.adresse }}</td>
						<td>{{ employe.directeur.nom }}
							{{ employe.directeur.prenom }}</td>
						<td>{{ employe.createdAt ? employe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td></td>
						{#<td>{{ employe.updatedAt ? employe.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						<td>
							<a href="{{ path('employe_affichage', {'id': employe.id}) }}" class="btn btn-secondary">lire</a>
							<a href="{{ path('employe_edition', {'id': employe.id}) }}" class="btn btn-secondary">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'emplye pour le moment</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('employe_nouveau') }}" class=" btn btn-secondary">Creer un nouvel Employe</a>

	</div><br><br>
{% endblock %}
