{% extends 'base.html.twig' %}

{% block title %}Employe
{% endblock %}

{% block navigation%}
	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}


{% block body %}

	<div class="container">
		<hr/>

		<h1>Employes</h1>
		<hr/>


		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Noms</th>
					<th>Prenoms</th>
					<th>Creer le</th>
					<th>Modifier le</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for employe in employes %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.nom }}</td>
						<td>{{ employe.prenom }}</td>
						<td>{{ employe.createdAt ? employe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ employe.updatedAt ? employe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('employe_affichage', {'id': employe.id}) }}"class="btn btn-primary">lire</a>
							<a href="{{ path('employe_edition', {'id': employe.id}) }}"class="btn btn-secondary">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'emplye pour le moment</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('employe_nouveau') }}" class=" btn btn-secondary">Creer un nouvel Employe</a>

	</div>
{% endblock %}