{% extends 'base.html.twig' %}


{% block body %}

	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
	<div class="container">
		<hr/>


		<h1>Article N°
			{{ article.id }}</h1>


		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ article.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ article.titre }}</td>
				</tr>

				<tr>
					<th>Adresse</th>
					<td>{{ article.adresse }}</td>
				</tr>

				<tr>
					<th>Images</th>
					<td>{{ article.images }}</td>
				</tr>

				<tr>
					<th>Type</th>
					<td>{{ article.type }}</td>
				</tr>

				<tr>
					<th>Surface</th>
					<td>{{ article.surface }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ article.prix }}</td>
				</tr>
				<tr>
					<th>Proprietaire</th>
					<td>{{ article.owner }}</td>
				</tr>


			</tbody>
		</tr<tr>
		<th>Gestionnaire</th>
		<td>{{ article.employe.nom }}</td>
	</tr>
	>
	<tr>
		<th>Agence</th>
		<td>{{ article.agence.numeroAgence }}</td>
	</tr>

	<tr>
		<th>Description</th>
		<td>{{ article.description }}</td>
	</tr>
</tbody></table></div>{% endblock %}
