{% extends 'base.html.twig' %}


{% block body %}

	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
	<div class="container">
		<hr/>



			<h1>Article N°
				{{ articles.id }}</h1>



			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>

					</tr>
					<tr>
						<th>Title</th>
						<td>{{ articles.titre }}</td>
					</tr>

					<tr>
						<th>Adresse</th>
						<td>{{ articles.adresse }}</td>
					</tr>

					<tr>
						<th>Images</th>
						<td>{{ articles.images }}</td>
					</tr>

					<tr>
						<th>Type</th>
						<td>{{ articles.type }}</td>
					</tr>

					<tr>
						<th>Surface</th>
						<td>{{ articles.surface }}</td>
					</tr>
					<tr>
						<th>Prix</th>
						<td>{{ articles.prix }}</td>
					</tr>
					<tr>
						<th>Proprietaire</th>
						<td>{{ articles.client.nom }}</td>
					</tr>


				</tbody>
			</tr<tr>
			<th>Gestionnaire</th>
			<td>{{ articles.employe.nom }}</td>
		</tr>
		>
		<tr>
			<th>Agence</th>
			<td>{{ articles.agence.numeroAgence }}</td>
		</tr>

		<tr>
			<th>Description</th>
			<td>{{ articles.description }}</td>
		</tr>
	</tbody>
</table></div>{% endblock %}
