{% extends 'base.html.twig' %}


{% block body %}

	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
	<div class="container">
		<hr/>


		<h1>Liste des Biens</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Categorie</th>
					<th>Agence</th>
					<th>Owner</th>
					<th>Adresse</th>
					<th>Type</th>
					<th>Surface</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.titre }}</td>
						<td>{{ article.Agence.id }}</td>
						<td>{{ article.Categorie.titre }}</td>
						<td>{{ article.Client.prenom }}</td>
						<td>{{ article.adresse }}</td>
						<td>{{ article.type }}</td>
						<td>{{ article.surface }}m2</td>
						<td>{{ article.prix }}€</td>
						<td><a href="{{ path('article_modif', {'id': article.id}) }}" class="btn btn-primary">Modifier</a></td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun Artcile
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
