{% extends 'base.html.twig' %}


{% block body %}

	<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
	<div class="container">
		<hr/>


		<h2>Liste des Biens</h2><hr/>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>
						<a href="{{path('article.trier.titre')}}" 
						title="cliquer pour trier par ordre croissant" >
							Titre
					</th>
					<th>Categorie</th>
					<th>Agence</th>
					<th>Owner</th>
					<th>Gestionnaire</th>

					<th><a href="{{path('article.trier.adresse')}}" 
						title="cliquer pour trier par surface en ordre croissant" >Adresse
					</th>
					<th><a href="{{path('article.trier.type')}}" 
						title="cliquer pour trier par surface en ordre croissant" >Type
					</th>
					<th><a href="{{path('article.trier.surface')}}" 
						title="cliquer pour trier par surface en ordre croissant" >Surface
					</th>
					<th><a href="{{path('article.trier.prix')}}" 
						title="cliquer pour trier par prix en ordre croissant" >Prix</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.titre }} | {{ article.adresse }}</td>

						<td>{{ article.Categorie.titre }}</td>						
						<td>{{ article.Agence.numeroAgence }} | {{ article.Agence.adresse }} </td>
						<td>{{ article.Client.nom }}</td>
						<td>{{ article.Employe.nom }}</td>
						<td>{{ article.adresse }}</td>
						<td>F{{ article.type }}</td>
						<td>{{ article.surface }}m2</td>
						<td>{{ article.prix }}€</td>
						<td><a href="{{ path('article_affichage', {'id': article.id}) }}" class="btn btn-primary">voir</a></td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun Artcile
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
