{% extends 'base.html.twig' %}
{% block title %}
    utilisateur
{% endblock %}


{% block navigation%}
<!-- Navigation-->
	{% include 'tools/navigation.html.twig'  %}
	<!-- Header-->
	{% include 'tools/header.html.twig'  %}

	<!-- Section-->
{% endblock %}
{% block body %}


	<div class="container">
		<hr/>
		<h1>Liste des utilisateurs </h1>
        <hr/>

    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
                <th>Adresse</th>
                <th>DateNaiss</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
            <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenoms }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.Email }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.password }}</td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        <br>
                        <br>
                        Malheureusement, Il n'y a aucun Utilisetur pour le moment !
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}